.moviesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.movie {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.btns {
  display: flex;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
